{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{{filim.img.url}}" width="300" height="300">
        </div>
 <div class="col-md-6">
     <h6>{{filim.name}}</h6>
     <h4>{{filim.desc}}</h4>
     <h6>{{filim.year}}</h6>
     <a class="btn btn-warning" href="{% url 'filimapp:update' filim.id %}">update</a>
     <a class="btn btn-danger" href="{% url 'filimapp:delete' filim.id %}">Delete</a>
 </div>
    </div>
</div>

{% endblock %}